# fly.toml app configuration file generated for tradle on 2026-01-26T18:01:14+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tradle'
primary_region = 'syd'

[build]

[env]
  TRADLE_DB = '/data/tradle.db'

[deploy]
  strategy = "immediate"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpus = 1
  memory_mb = 256
